*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  max-width: 1140px;
  display: grid;
  grid-template-rows: 534px;
  grid-template-columns: 711px 399px;
  grid-template-areas: "result content__details";
  gap: 30px;
  align-items: end;
}

.result {
  grid-area: result;
}

.content__details {
  grid-area: content__details;
  height: 100%;
  width: 100%;
}

.result__video-container {
  max-width: 711px;
  max-height: 386px;
  margin-bottom: 18px;
}

.result__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.content__list-container {
  max-height: 298px;
  overflow: auto;
}

.title {
  margin-bottom: 26px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
}

.content__video-card:focus {
  outline: none;
}

.content__video-card:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__video-card:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.content__video-card:active {
  background-color: #545050;
}

.content__video-card-thumbnail {
  max-width: 194px;
  max-height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 5px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  overflow: hidden;
  margin-bottom: 6px;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  line-clamp: 4;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  display: flex;
  width: fit-content;
}

.search-form__textfield {
  appearance: none;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
  width: 225px;
  height: 27px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  height: 19px;
  width: 19px;
  margin-right: 5px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: none;
  background-color: #fff;
  height: 15px;
  width: 15px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  margin-top: 19px;
}

.more-button {
  width: 100%;
  margin-top: 30px;
  height: 34px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}

.button:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.content__list-item {
  padding: 0 3px;
}

.search-form__checkbox-list .search-form__label,
.button {
  cursor: pointer;
}

.result__video-container,
.content__list-container {
  position: relative;
}

.preloader {
  position: absolute;
}
